<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzc.springboot.ssm.dao.SecurityUserMapper" >
    
    <!--根据用户名称查询用户信息-->
    <select id="selectUserByUsername" resultType="com.lzc.springboot.ssm.domain.UserVo" 
            parameterType="string">
        SELECT id, username, password FROM t_user WHERE username = #{username}
    </select>
    
    <select id="selectUserAuthorities" resultType="com.lzc.springboot.ssm.domain.MyGrantedAuthority"
            parameterType="long" >
        SELECT concat('ROLE_',role) authority FROM T_ROLE
        WHERE id IN (
          SELECT role_id FROM T_USER_ROLE_REL WHERE user_id = #{userId}
        )
    </select>
    
</mapper>