<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet">
    <link th:href="@{/css/myCss.css}" rel="stylesheet">
    <title>员工管理页面 - 新增</title>
</head>
<body>
<br/>
<div class="panel panel-primary">
    <!--插入抽取的公共代码块-->
    <div th:replace="~{commons/common::head}"></div>
    <!--插入抽取的公共代码块-->
    <div th:replace="~{commons/common::sidebar(active='empList.html')}"></div>

    <!--添加员工表单-->
    <div>
        <form th:action="@{/user/addEmp}" method="post">
            <div class="form-group">
                <label for="lastName">LastName</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="LastName">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="department">department</label>
                <select name="department.id" id="department" class="form-control">
                    <option th:each="dept:${deps}" th:text="${dept.getDepartmentName()}" 
                            th:value="${dept.getId()}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender1">gender</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="gender" id="gender1" value="0" checked>
                        女
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="gender" id="gender2" value="1">
                        男
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="birth">birthday</label>
                <input type="date" class="form-control" id="birth" name="birth" placeholder="birthday">
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
    
    <div class="panel-heading">
        <div>
            <img alt="GTVG logo" title="GTVG logo" th:src="@{/icons/轻音.jpg}" />
        </div>
    </div>
    
</div>
<script th:src="@{/js/jquery-1.11.3.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    
</script>
</body>
</html>